<a href="https://colab.research.google.com/github/shreyagauri0803-ui/pyhton/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
factorial=1
sum1=0
for d in range(1,7):
  factorial=factorial*d
  if d % 2==0:
    sum1=sum1+factorial
    print(sum1)

2
26
746

In [ ]:
for a in range(1,11):
  print(a)
for b in range(0,12,2):
  print(b)
for c in range(1,13,2):
  print(c)

1
2
3
4
5
6
7
8
9
10
0
2
4
6
8
10
1
3
5
7
9
11

In [ ]:
sum=0
for a in range(1,11):
  sum=sum+a
  print(sum)

1
3
6
10
15
21
28
36
45
55

In [ ]:
sum=0
for a in range(1,11,2):
  sum=sum+a
print(sum)

25

In [ ]:
factorial=1
for a in range(1,6):
  factorial=factorial*a
  print(factorial)

1
2
6
24
120

In [ ]:
factorial=1
sum=0
for i in range(1,6):
  factorial=factorial*i
  sum=sum+factorial
  print(sum)

1
3
9
33
153

In [ ]:
factorial=1
sum=0
for a in range(1,10):
  factorial=factorial*a
  sum=sum+factorial
  print(sum)

1
3
9
33
153
873
5913
46233
409113

In [ ]:
factorial=1
sum=0
for i in range(1,10):
  factorial=factorial*i
  if i %4==1:
   sum=sum+factorial
   print(sum)

1
121
363001

In [ ]:
factorial=1
sum=0
for i in range(2,11):
  factorial=factorial*i
  if i %4==2:
    sum=sum+factorial
    print(sum)

2
722
3629522

In [ ]:
factorial=1
sum=0
for i in range(3,14):
  factorial=factorial*i
  if i %5==3:
    sum1=sum+factorial
    print(sum1)

3
20160
3113510400

In [ ]:
sum=0
factorial=1
for j in range(14,27):
  factorial=factorial*j
  if j %6==2:
    sum2=sum+factorial
    print(sum2)
    total_sum=sum1+sum2
    print(total_sum)

14
6227020814
390700800
6617721600
64764752532480000
64764758759500800

In [ ]:
sum=0
for a in range(3,14,5):
  factorial=1
  for b in range(3,a+1):
    factorial=factorial*b
    sum1=sum+factorial
print(sum1)

3113510400

In [ ]:
sum=0
for a in range(3,14,5):
  factorial=1
  for b in range(3,a+1):
    factorial=factorial*b
    sum1=sum+factorial
    print(sum1)

3
3
12
60
360
2520
20160
3
12
60
360
2520
20160
181440
1814400
19958400
239500800
3113510400

In [ ]:
sum=0
for c in range(14,27,6):
  factorial=1
  for d in range(14,c+1):
    factorial=factorial*d
    sum2=sum+factorial
    print(sum2)
    total_sum=sum1+sum2
print(total_sum)

14
14
210
3360
57120
1028160
19535040
390700800
14
210
3360
57120
1028160
19535040
390700800
8204716800
180503769600
4151586700800
99638080819200
2490952020480000
64764752532480000
64764755645990400

In [ ]:
factorial=1
sum=0
for i in range(3,14):
  factorial=factorial*i
  if i %5==3:
   sum1=sum+factorial
   print(sum1)

   for j in range(14,27):
    factorial=factorial*j
    if j %6==2:
      sum2=sum+factorial
      print(sum2)
      total_sum=sum1+sum2
      print(total_sum)

3
42
45
1172102400
1172102403
194294257597440000
194294257597440003
1305657411054796800000
18279203754767155200000
19584861165821952000000
510121395025037953597440000000
510121396330695364652236800000
84560579119162431400851800064000000000
84560579119162432706509211118796800000
13059535839163445905547552001884160000000000
182833501748288242677665728026378240000000000
195893037587451688583213280028262400000000000
5102371099989829646054153005177742819328000000000000
5102371113049365485217598910725294821212160000000000
845797606812474105175954305395091645091597516800000000000000
845797606812474118235490144558537550639149518684160000000000

In [ ]:
factorial=1
sum=0
for i in range(3,14):
  factorial=factorial*i
  if i %5==3:
    sum1=sum+factorial
    print(sum1)
    for j in range(14,27):
     factorial=factorial*j
     if j %6==2:
      sum2=sum+factorial
      print(sum2)
      total_sum=sum1+sum2
      print(total_sum)

3
42
45
1172102400
1172102403
194294257597440000
194294257597440003
1305657411054796800000
18279203754767155200000
19584861165821952000000
510121395025037953597440000000
510121396330695364652236800000
84560579119162431400851800064000000000
84560579119162432706509211118796800000
13059535839163445905547552001884160000000000
182833501748288242677665728026378240000000000
195893037587451688583213280028262400000000000
5102371099989829646054153005177742819328000000000000
5102371113049365485217598910725294821212160000000000
845797606812474105175954305395091645091597516800000000000000
845797606812474118235490144558537550639149518684160000000000

In [ ]:
first_term=0
second_term=1
print(first_term)
print(second_term)
for i in range(3,21):
 third_term=first_term+second_term
 first_term=second_term
 second_term=third_term
 print(third_term)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

In [ ]:
first_term=0
second_term=1
print(first_term)
print(second_term)
for i in range(3,23):
  third_term=first_term+second_term
  first_term=second_term
  second_term=third_term
  print(third_term)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946

In [ ]:
sum2=0
factorial=1
for b in range(2,11):
  factorial=factorial*b
  if b %4==2:
    sum2=sum+factorial
print(sum2)
print(factorial)

#print(sum1+sum2)

7258322
3628800

In [ ]:
#1!+5!+9!+2!+6!+10!
sum1=0
factorial=1
for a in range(1,10):
  factorial=factorial*a
  if a %4==1:
    sum1=sum+factorial
    print(sum1)
    print(factorial)

1
1
121
120
363001
362880

In [ ]:
first_term=0
second_term=1
print(first_term)
print(second_term)
for i in range(3,48):
  third_term=first_term+second_term
  first_term=second_term
  second_term=third_term
  print(third_term)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903

In [ ]:
factorial=1
for i in range(1,6):
  factorial=factorial*i
print(factorial)

120

In [ ]:
sum1=0
for a in range(1,10,4):
  factorial=1
  for b in range(1,a+1):
    factorial=factorial*b
  sum1=sum1+factorial
  print(sum1)
sum2=0
for c in range(2,11,4):
  factorial=1
  for d in range(2,c+1):
    factorial=factorial*d
  sum2=sum2+factorial
  print(sum2)
total_sum=sum1+sum2
print(total_sum)

1
121
363001
2
722
3629522
3992523

In [ ]:
#1!+5!+9!+2!+6!+10!
sum1=0
factorial=1
for s in range(1,10):
  factorial=factorial*s
  if s%4==1:
    sum1=sum1+factorial
    print(sum1)
    print(factorial)
sum2=0
factorial=1
for k in range(2,11):
  factorial=factorial*k
  if k%4==2:
    sum2=sum2+factorial
    print(sum2)
    print(factorial)
    total_sum=sum1+sum2
    print(total_sum)

1
1
121
120
363001
362880
2
2
363003
722
720
363723
3629522
3628800
3992523

In [ ]:
#2!+7!+12!+17!+22!
sum1=0
factorial=1
for q in range(2,23):
  factorial=factorial*q
  if q%5==2:
    sum1=sum1+factorial
    print(sum1)

2
5042
479006642
355687907102642
1124001083465514782642

In [ ]:
sum=0
factorial=1
for i in range(1,6):
  factorial=factorial*i
  sum=sum+factorial
  print(sum)

1
3
9
33
153

In [ ]:

sum=0
factorial=1
for a in range(1,8,2):
  factorial=factorial*a
  sum=sum+factorial
  print(sum)

1
4
19
124

In [ ]:
sum=1
for w in range(2,23,5):
  factorial=1
  for h in range(2,w+1):
   factorial=factorial*h
  sum=sum+factorial
  print(sum)

3
5043
479006643
355687907102643
1124001083465514782643

In [ ]:
#3/11
#10,20
a=10
b=20
for i in range(b,a*b+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

20

In [ ]:
sum=0
for i in range(2,11,4):
  factorial=1
  for j in range(2,i+1):
    factorial=factorial*j
  sum=sum+factorial
  print(sum)

2
722
3629522

In [ ]:
sum=0
for a in range(1,8,2):
  factorial=1
  for b in range(1,a+1):
    factorial=factorial*b
  sum=sum+factorial
  print(sum)

1
7
127
5167

In [ ]:
#1!+5!+9!
sum=0
for a in range(1,10,4):
  factorial=1
  for b in range(1,a+1):
    factorial=factorial*b
  sum=sum+factorial
  print(sum)
  print(factorial)

1
1
121
120
363001
362880

In [ ]:
sum=0
factorial=1
for a in range(1,10):
  factorial=factorial*a
  if a%4==1:
    sum=sum+factorial
    print(sum)
    print(factorial)

1
1
121
120
363001
362880

In [ ]:
sum=0
factorial=1
for a in range(1,8):
  factorial=factorial*a
  if a %2!=0:
    sum=sum+factorial
    print(sum)
    print(factorial)

1
1
7
6
127
120
5167
5040

In [ ]:
sum1=0
for e in range(1,10,4):
  factorial=1
  for f in range(1,e+1):
    factorial=factorial*f
sum1=sum1+factorial
print(sum1)

sum2=0
for g in range(1,11,4):
  factorial=1
  for h in range(2,g+1):
    factorial=factorial*h
sum2=sum2+factorial
print(sum2)
total_sum=sum1+sum2
print(total_sum)

362880
362880
725760

In [ ]:
a=15
b=20
if a>b:
  smaller=b
else:
  smaller=a
  for i in range(1,smaller+1):
   if a%i==0 and b%i==0:
    hcf=i
print(hcf)

5

In [ ]:
#1058,253
a=1058
b=253
if a>b:
  smaller=b
else:
  smaller=a
for i in range(1,smaller+1):
  if a%i==0 and b%i==0:
    hcf=i
print(hcf)

23

In [ ]:
#20,35
a=20
b=35
for i in range(b,a*b+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

140

In [ ]:
#1058,253
a=1058
b=253
for i in range(a,a*b+1):
  if i%a==0 and i%b==0:
    lcm=i
    break
print(lcm)

11638