<a href="https://colab.research.google.com/github/shreyagauri0803-ui/pyhton/blob/main/while.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#4/11
#n=5
n=5
while n>0:
  print(n)
  n=n-1

5
4
3
2
1

In [ ]:
num=68321
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

12386

In [ ]:
#num=5678
n=5
while n<=8:
  print(n)
  n=n+1

5
6
7
8

In [ ]:
num=2345
while num>0:
  digit=num%10
  print(digit)
  num=num//10

5
4
3
2

In [ ]:
num=68321
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

12386

In [ ]:
num=56789
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)

98765

In [ ]:
num=48922
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)
if num==rev:
  print("pallindrom_no")
else:
  print("not_pallindrom_no")

22984
not_pallindrom_no

In [ ]:
num=0
sum=0
while num<20:
  print(num)
  num=num+1
  sum=sum+num
print(sum)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
210

In [ ]:
num=25
sum=0
while num>=5:
  sum=sum+num
  print(num)
  num=num-1

print(sum)

25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
315

In [ ]:
sum=0
num=10
table=20
while num>0:
  x=table*num
  print(x)
  num=num-1
  sum=sum+x
print(sum)

200
180
160
140
120
100
80
60
40
20
1100

In [ ]:
sum=0
num=10
table=20
while num>0:
  x=table*num
  print(x)
  num=num-1
  sum=sum+x
print(sum)

200
180
160
140
120
100
80
60
40
20
1100

In [ ]:
sum=0
num=10
table=55
while num>0:
  x=table*num
  print(x)
  num=num-1
  sum=sum+x
print(sum)

550
495
440
385
330
275
220
165
110
55
3025

In [ ]:
num=7887
temp=num
rev=0
while num>0:
  digit=num%10
  rev=rev*10+digit
  num=num//10
print(rev)
if temp==rev:
  print("pallindrom")
else:
  print("not pallindrom")

7887
pallindrom

In [ ]:
sum=0
num=10
table=40
while num>0:
  x=table*num
  print(x)
  num=num-1
  sum=sum+x
print(sum)

400
360
320
280
240
200
160
120
80
40
2200

In [ ]:
sum1=0
table=20
num1=10
while num1>0:
  x=num1*table
  print(x)
  num1=num1-1
  sum1=sum1+x
print(sum1)
sum2=0
table=19
num2=10
while num2>0:
  x=num2*table
  print(x)
  num2=num2-1
  sum2=sum2+x
print(sum2)
total=sum1+sum2
print(total)
avg=total/20
print(avg)

200
180
160
140
120
100
80
60
40
20
1100
190
171
152
133
114
95
76
57
38
19
1045
2145
107.25